<template>
  <div class="app">
    <label class="label">Prefecture</label>
    <div class="check-box-wrapper">
      <div
        class="check-box"
        v-for="(prefs, index) in sliceByNumberArray"
        :key="index"
      >
        <div v-for="pref in prefs" :key="pref.prefCode">
          <input
            :id="pref.prefCode"
            type="checkbox"
            :value="pref.prefCode"
            v-model="selectedPref"
            @change="onChangePref"
          />
          <label labelPlacement="start">{{ pref.prefName }}</label>
        </div>
      </div>
    </div>
    <label class="label">Which data?</label>
    <div class="check-box-wrapper">
      <div
        class="check-box"
        v-for="(dataLabel, index) in dataLabels"
        :key="index"
      >
        <input
          :id="index.toString"
          type="radio"
          :value="dataLabel"
          v-model="selectedDataLabel"
          @change="onChangeLabel"
        />
        <label>{{ dataLabel.label }}</label>
      </div>
    </div>
    <LineChart type="line" v-if="loaded" :data="chartData" />
  </div>
</template>

<script lang="ts">
import axios from "axios";
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { Line } from "vue-chartjs";
import { translationPrefData } from "./translationPrefData.ts";
import { translationDataType } from "./translationDataType.ts";
import "./AppStyles.css";

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);

interface Prefecture {
  prefCode: string;
  prefName: string;
}

interface DataLabel {
  label: string;
  data: { year: number; value: number }[];
}

interface PopulationData {
  label: string;
  data: {
    year: number;
    value: number;
  }[];
}

export default {
  components: {
    LineChart: Line,
  },
  data() {
    return {
      loaded: false,
      chartData: {
        labels: [] as number[],
        datasets: [
          {
            label: "",
            data: [] as number[],
            backgroundColor: "",
            borderColor: "",
            borderWidth: 0,
          },
        ],
      },
      prefs: [] as Prefecture[],
      selectedPref: [] as string[],
      dataLabels: [] as DataLabel[],
      selectedDataLabel: {
        label: "",
        data: [],
      } as DataLabel,
      error: null,
    };
  },
  mounted() {
    this.loaded = false;
    const apiKey = "ijtydX4cdGvOkFMvAHoBdg71yYfPhy1973NYhXfJ";
    axios
      .get("https://opendata.resas-portal.go.jp/api/v1/prefectures", {
        headers: {
          "X-API-KEY": apiKey,
        },
      })
      .then((response) => {
        this.prefs = response.data.result;
        this.translatePresDataToEnglish();
        console.log(this.prefs);
      })
      .catch((error) => {
        this.error = error.message || "An error occurred";
      });
  },
  computed: {
    sliceByNumberArray() {
      const base = this.prefs.length;
      const split_number = 10;
      const sliced_array = [];
      for (let i = 0; i < Math.ceil(base / split_number); i++) {
        let multiple_number = i * split_number;
        let result = this.prefs.slice(
          multiple_number,
          multiple_number + split_number
        );
        sliced_array.push(result);
      }
      return sliced_array;
    },
  },
  watch: {
    dataLabels: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal !== oldVal && newVal.length) {
          if (!newVal[0]) {
            console.error("newVal[0] is undefined");
            return;
          }
          this.selectedDataLabel = {
            label: newVal[0].label,
            data: newVal[0].data,
          };
          this.drawChart(this.selectedDataLabel);
        }
      },
    },
  },
  methods: {
    translatePresDataToEnglish() {
      for (const pref of this.prefs) {
        const japaneseName = pref.prefName;
        const englishName = translationPrefData[japaneseName];
        pref.prefName = englishName;
      }
    },
    translateDataTypeToEnglish() {
      for (const dataLabel of this.dataLabels) {
        const japaneseLabel = dataLabel.label;
        const englishLabel = translationDataType[japaneseLabel];
        dataLabel.label = englishLabel;
      }
    },
    onChangePref() {
      const selectedPrefNum = this.selectedPref[0];
      this.getPopulation(selectedPrefNum);
    },
    onChangeLabel() {
      this.drawChart(this.selectedDataLabel);
    },
    getPopulation(selectedPrefNum: string) {
      axios
        .get(
          `https://opendata.resas-portal.go.jp/api/v1/population/composition/perYear?prefCode=${selectedPrefNum}`,
          {
            headers: {
              "X-API-KEY": "ijtydX4cdGvOkFMvAHoBdg71yYfPhy1973NYhXfJ",
            },
          }
        )
        .then((response) => {
          this.dataLabels = response.data.result.data.map(
            (d: PopulationData) => ({
              label: d.label,
              data: d.data,
            })
          );
          this.translateDataTypeToEnglish();
        })
        .catch((error) => {
          console.error("Catching error:", error.message);
        });
    },
    async drawChart(userInput: DataLabel) {
      const labels = userInput.data.map((entry) => entry.year);
      const data = userInput.data.map((entry) => entry.value);
      this.loaded = true;
      this.chartData = {
        labels: labels,
        datasets: [
          {
            label: "Number of ppl",
            data: data,
            backgroundColor: "rgba(54,73,93,.5)",
            borderColor: "#36495d",
            borderWidth: 3,
          },
        ],
      };
    },
  },
};
</script>
