.app {
  font-family: Arial, sans-serif;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.check-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.check-box {
  display: flex;
  gap: 1em;
  padding: 1em;
  font-size: 15px;
  align-items: center;
}

label {
  text-align: center;
}

LineChart {
  width: 80%;
  max-height: 400px;
}
